{% extends 'template.html' %}
{% block head_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    {% for element in content %}
        {% if element['type'] == 'line' %}
            <p class="beautiful">
            {% for point in element['data'] %}
                {% if point['link'] %}
                    <a href="{{ point['link'] }}">{{ point['text'] }}</a>
                {% else %}
                 {{ point['text'] }}
                {% endif %}
            {% endfor %}
            </p>
        {% elif element['type'] == 'list' %}
            <ul>
                {% for line in element['data'] %}
                    <li class="general-beautiful">
                    {% for point in line %}
                        {% if point['link'] %}
                            <a href="{{ point['link'] }}">{{ point['text'] }}</a>
                        {% else %}
                        {{ point['text'] }}
                        {% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}