{% extends 'template.html' %}
{% block head_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}

    <p class="beautiful"> {% for x in vac_info[:3]%}
        {{x}}&nbsp;
    {% endfor %}</p>
    {% if vac_info[3]%}
    <p class="beautiful">Description: {{vac_info[3]}}</p>
    {% endif %}
    <p class="beautiful">Requirements:</p>
    <ul class="general-beautiful">
        {% for x in requirements %}
        <li> {{ x[0] }}   {{ x[1] }} </li>
        {% endfor %}
    </ul>
    <p class="beautiful"><a href="newreq"> add requirement</a><br></p>
    <p class="beautiful"><a href="edit">edit vacancy</a><br></p>
    <p class="beautiful"><a href='remove'>remove vacancy</a><br></p>
    <p class="beautiful"><a href="../">home</a></p>
{% endblock %}