{% extends 'template.html' %}
{% block head_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <form action="/FindPerson/res", method="get">
        <p class="beautiful">{% for sel in content ['selections'] %}
            <span>{{sel['desc']}}<select name = {{sel['name']}}>
                {% for x in  sel['vals']%}
                    <option name = {{ x['name']}}>{{ x['val'] }}</option>
                {% endfor %}
            </select></span>
        {% endfor %}
    <input type="submit">
    </p>
    </form>
    {% for x in find_res %}
        <p class="beautiful"> {{ x[1] }} <a href="/person/?p={{ x[0] }}">(details)</a> </p>
    {% endfor %}
     {% if need_back %}
        <p class="beautiful"><a href="../">back</a></p>
    {% endif %}
{% endblock %}