<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New requirement</title>
</head>
<body>
    <h2>New requirement</h2>
    <form action="/add_requirement" method =  "post">
        Education:<br>
        <input type="text" name = "education"><br>
        Work experience: <br>
        <input type="text" name = "experience"><br>
        <input type="submit" name="ok">
        <input type="hidden" name="addr" value="{{vid}}">
    </form>
    <a href="../">back</a>
</body>
</html>